.app-logo
{
    margin:20;
    width: 247;
    height: 32;
    vertical-align:center;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin-top:20;
    font-weight: bold;
    color: #ffffff;
}

.sub-title {
    font-size: 20;
    horizontal-align: center;
    margin:5;
    color: #ffffff;
}

.login-container {
    margin: 15;
    padding: 5;
    background-color: #ffffff;
}

.login-button {
    margin:0 15 15 15;
    background-color: #1bbc9b;
    color: #ffffff;
}

.footer {
    margin-top: 40;
    vertical-align: bottom;
    horizontal-align: center;
    color: #ffffff;
    font-size: 15;
}

