.register-section {
    margin: 2 15 0 15;
    padding: 5;
    background-color: #ffffff;
}

.register-button {
    margin:15 15 15 15;
    background-color: #1bbc9b;
    color: #ffffff;
}

#gender {
    margin:15 25;
    font-size: 15;
    horizontal-align: left;
}

#gender-icon {
    width: 20;
    height: 20;
    horizontal-align: left;
}
