#name {
    margin-top: 30;
    width: 260;  
    background-color: #ffffff;
    padding: 5;
}

.register-section {
    margin-top: 10;
    width: 260;
    background-color: #ffffff;
    padding: 5;
}

.register-button {
    width: 260;
    margin:20;
    background-color: #1bbc9b;
    color: #ffffff;
}
